{% extends 'base.html' %}
{% block content %}
<h2>My Accounts</h2>
<ul class="list-group">
    {% for account in accounts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ account.account_number }} - Balance: {{ account.balance }}
        <div>
            <a href="{% url 'deposit' account.id %}" class="btn btn-primary btn-sm">Deposit</a>
            <a href="{% url 'withdraw' account.id %}" class="btn btn-warning btn-sm">Withdraw</a>
            <a href="{% url 'transfer' account.id %}" class="btn btn-success btn-sm">Transfer</a>
            <a href="{% url 'transaction_history' account.id %}" class="btn btn-info btn-sm">Transactions</a>
            <form method="post" action="{% url 'delete_account' account.id %}" class="ml-2" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'create_account' %}" class="btn btn-success mt-3">Create a new account</a>
{% endblock %}